com.xyz.rcp.firstapplication/schema/Employee.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ns0="http://com.xyz.rcp/employee"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.xyz.rcp/employee" elementFormDefault="qualified">

	<xsd:complexType name="EmployeeType">
		<xsd:sequence>
			<xsd:element name="empID" type="xsd:string" />
			<xsd:element name="firstName" type="xsd:string" />
			<xsd:element name="lastName" type="xsd:string" />
			<xsd:element name="married" type="xsd:boolean" />
			<xsd:element name="gender" type="xsd:string" />
			<xsd:element name="age" type="xsd:int" />
			<xsd:element name="address" type="ns0:AddressType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="street" type="xsd:string" />
			<xsd:element name="number" type="xsd:string" />
			<xsd:element name="postalCode" type="xsd:string" />
			<xsd:element name="city" type="xsd:string" />
			<xsd:element name="country" type="xsd:string" />
		</xsd:sequence>

	</xsd:complexType>


	<xsd:element name="Employee" type="ns0:EmployeeType" />

    <xsd:element name="Industry" type="ns0:IndustryType"></xsd:element>

    <xsd:complexType name="IndustryType">
    	<xsd:sequence>
    		<xsd:element name="name" type="xsd:string"></xsd:element>

    		<xsd:element name="organisations" type="ns0:OrganisationType" maxOccurs="unbounded"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OrganisationType">
    	<xsd:sequence>
    		<xsd:element name="name" type="xsd:string"></xsd:element>
    		<xsd:element name="type" type="xsd:string"></xsd:element>
    		<xsd:element name="industry" type="xsd:string"></xsd:element>
    		<xsd:element name="headquarters" type="xsd:string"></xsd:element>
    		<xsd:element name="founded" type="xsd:int"></xsd:element>
            <xsd:element name="revenue" type="xsd:string"></xsd:element>
            <xsd:element name="employees" type="ns0:EmployeeType" maxOccurs="unbounded"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="Organisation" type="ns0:OrganisationType"></xsd:element>
</xsd:schema>
